<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quản lý đơn đặt</title>
  <link rel="shortcut icon" type="image/png" href="/image/logos/favicon.png" />
  <link rel="stylesheet" href="/css/styles.min.css" />
  <link rel="stylesheet" href="/css/tabler-icons/tabler-icons.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>
<style>
  .status-wait {
    color: gray;
  }

  .status-confirm {
    color: blue;
  }

  .status-checkin {
    color: green;
  }

  .status-checkout {
    color: orange;
  }

  .status-cancel {
    color: red;
  }
</style>

<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <%- include('../_partialView/asideAdmin.ejs') %>
      <div class="body-wrapper">
        <%- include('../_partialView/headerAdmin.ejs') %>
          <div class="container-fluid">
            <h3>Quản lý đơn đặt</h3>
            <div class="card">
              <div class="card-body">
                <button type="button" class="btn btn-outline-danger mb-1" data-toggle="modal"
                  data-target="#bookingModal">
                  Yêu cầu đặt phòng
                </button>
                <div class="row mb-2">
                  <div class="col-md-2 mb-2">
                    <select class="form-select" id="statusFilter" name="status">
                      <option value="">Tất cả</option>
                      <% Object.keys(bookingStatus).forEach(function(key) { %>
                        <option value="<%= bookingStatus[key] %>">
                          <%= bookingStatus[key] %>
                        </option>
                        <% }) %>
                    </select>
                  </div>
                  <div class="col-md-2 mb-2">
                    <input type="date" class="form-control" id="startDateFilter" name="startDate">
                  </div>
                  <div class="col-md-2 mb-2">
                    <input type="date" class="form-control" id="endDateFilter" name="endDate">
                  </div>
                  <div class="col-md-2 mb-2">
                    <button class="btn btn-primary w-100" id="reset-filters-btn">Xoá bộ lọc</button>
                  </div>
                </div>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr class="table-active">
                        <th scope="col">Người đặt</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Checkin</th>
                        <th scope="col">CheckOut</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Hành động</th>
                      </tr>
                    </thead>
                    <tbody id="bookingTableBody">
                      <!-- Dynamic content will be injected here -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div id="pagination-container" class="pagination d-flex justify-content-center">
              <!-- Nút phân trang sẽ được chèn vào đây -->
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông tin đặt phòng </h5>

                    <button type="button" id="closeModalButton" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close">
                    </button>
                  </div>
                  <div class="modal-body">
                    <section class="room-details-section spad">
                      <div class="container">
                        <div class="d-flex justify-content-center">
                          <h5>Mã đơn đặt: </h5>
                          <h5 class="ms-1" id="bookingCode"></h5>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <h4 class="pb-1 font-weight-bold" id="exampleModalLabel">Chi tiết phòng đặt</h4>
                            <table class="table align-middle table-bordered room_list">
                              <thead class="table">
                                <tr>
                                  <th scope="col">Loại phòng</th>
                                  <th scope="col">Số người tối đa</th>
                                  <th scope="col">Giá phòng</th>
                                  <th scope="col">Số lượng phòng</th>
                                </tr>
                              </thead>
                              <tbody id="detail_room_list">
                                <!-- Render booking detail -->
                              </tbody>

                            </table>
                            <div class="d-inline-block">
                              <h5 class="mb-2 mt-0 ">Tổng tiền phòng: <span id="total_booking_price"></span></h5>
                            </div>

                          </div>
                        </div>
                        <div class="row">

                          <div class="col-lg-12">
                            <h4 class="pb-1 font-weight-bold" id="exampleModalLabel">Chi tiết dịch vụ đã đặt</h4>
                            <table class="table align-middle table-bordered room_list">
                              <thead class="table">
                                <tr>
                                  <th scope="col">Tên dịch vụ</th>
                                  <th scope="col">Giá dịch vụ</th>
                                  <th scope="col">Số lượng</th>
                                  <th scope="col">Ngày tạo</th>
                                  <th scope="col"></th>

                                </tr>
                              </thead>
                              <tbody id="detail_service_list">
                                <!-- Render booking detail -->
                              </tbody>

                            </table>
                            <div class="d-inline-block">
                              <h5 class="mb-2 mt-0 ">Tổng tiền dịch vụ: <span id="total_service_price"></span></h5>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer" id="">

                      </div>
                    </section>
                  </div>
                </div>

              </div>

            </div>

            <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="bookingModalLabel">Tạo Đơn Đặt Phòng</h5>
                    <button type="button" id="closeModalButton" class="btn-close" data-dismiss="modal"
                      aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form id="bookingForm">
                      <div class="row mb-2">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="fullName">Họ và Tên:</label>
                            <input type="text" class="form-control" id="fullName" name="fullName" required>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="phoneNumber">Số Điện Thoại:</label>
                            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" required>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-md-5">
                          <div class="form-group" id="roomInputs">
                            <label>Loại Phòng:</label>
                            <select class="form-select" id="roomType" name="roomType" required>
                              <!-- Options will be added dynamically -->
                              <% roomType.map(function(room) { %>
                                <option value="<%= room.id %>" data-name="<%= room.name %>">
                                  <%= room.name %>
                                </option>
                                <% }) %>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="roomQuantity">Số Lượng:</label>
                            <input type="number" class="form-control" id="roomQuantity" name="roomQuantity" required>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <button type="button" style="margin-top: 22px" class="btn btn-outline-info"
                            onclick="addRoomInput()">Thêm Phòng</button>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="checkInTime">Check-in:</label>
                            <input type="date" class="form-control dateInput" id="checkInTime" name="checkInTime" required>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="checkOutTime">Check-out:</label>
                            <input type="date" class="form-control dateOutput" id="checkOutTime" name="checkOutTime" required>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-md-5">
                          <div class="form-group" id="serviceInputs">
                            <label>Dịch Vụ:</label>
                            <select class="form-select" id="serviceName" name="serviceName" required>
                              <!-- Options will be added dynamically -->
                              <% serviceType.map(function(service) { %>
                                <option value="<%= service.id %>" data-name="<%= service.name %>">
                                  <%= service.name %>
                                </option>
                                <% }) %>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="serviceQuantity">Số Lượng:</label>
                            <input type="number" class="form-control" id="serviceQuantity" name="serviceQuantity">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <button type="button" style="margin-top: 22px ;" class="btn btn-outline-info"
                            onclick="addServiceInput()">Thêm dịch vụ</button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <h5>Các phòng đã chọn:</h5>
                          <div id="selectedRooms">
                            <!-- Các phòng đã chọn sẽ được thêm vào đây -->
                          </div>
                        </div>
                        <div id="" class="col-md-6 mb-3">
                          <h5>Các dịch vụ đã chọn:</h5>
                          <div id="selectedServices">
                            <!-- Các dịch vụ đã chọn sẽ được thêm vào đây -->
                          </div>
                        </div>
                      </div>
                      <div class=" d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-dark">Tạo Đơn Đặt</button>

                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>


          </div>

      </div>
  </div>

  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/sidebarmenu.js"></script>
  <script src="/js/app.min.js"></script>
  <script src="/libs/simplebar/dist/simplebar.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="/js/handleAdminBooking.js"></script>
  <script src="/js/handleOfflineBooking.js"></script>

 

</body>

</html>