<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="/image/logos/favicon.png" />
  <link rel="stylesheet" href="/css/styles.min.css" />
  <link rel="stylesheet" href="/css/tabler-icons/tabler-icons.css">
</head>

<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <%- include('../_partialView/asideAdmin.ejs') %>
    <div class="body-wrapper">
      <%- include('../_partialView/headerAdmin.ejs') %>
      <div class="container-fluid">
        <h3>Quản lý đơn đặt</h3>
        <div class="card">
          <div class="card-body">
            <a href="/admin/service/createService">
              <button type="button" class="btn btn-outline-danger mb-1">Thêm mới</button>
            </a>
            <div>
              <!-- Filter Form Start -->
             
                <div class="form-group">
                  <label for="statusFilter">Lọc theo trạng thái:</label>
                  <select class="form-control" id="statusFilter" name="status">
                    <option value="">Tất cả</option>
                    <option value="Đã checkin">WAIT</option>
                    <option value="CONFIRM">CONFIRM</option>
                    <option value="CHECKIN">CHECKIN</option>
                    <option value="CHECKOUT">CHECKOUT</option>
                  </select>
                  <button type="submit" class="btn btn-primary mt-2">Lọc</button>
                </div>
             
              <!-- Filter Form End -->
            </div>

            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr class="table-active">
                    <th scope="col">Người đặt</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Checkin</th>
                    <th scope="col">CheckOut</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Hành động</th>
                  </tr>
                </thead>
                <tbody id="bookingTableBody">
                  <!-- <% bookingList.forEach(function(item, index) { %>
                    <tr id="booking-<%= item.id %>">
                      <td><%= item.User.fullname %></td>
                      <td><%= item.total_price %></td>
                      <td><%= item.checkIn %></td>
                      <td><%= item.checkOut %></td>
                      <td><%= item.createdAt %></td>
                      <td class="booking-status"><%= item.status %></td>
                      <td class="actions">
                        <% if (item.status === bookingStatus.WAIT) { %>
                          <button type="button" class="btn btn-outline-warning postConfirmBooking mb-1" data-booking-id="<%= item.id %>">Xác nhận</button>
                        <% } else if (item.status === bookingStatus.CONFIRM) { %>
                          <button type="button" class="btn btn-outline-warning postCheckinBooking mb-1" data-booking-id="<%= item.id %>">Checkin</button>
                        <% } else if (item.status === bookingStatus.CHECKIN) { %>
                          <button type="button" class="btn btn-outline-warning postCheckoutBooking mb-1" data-booking-id="<%= item.id %>">Checkout</button>
                        <% } %>
                        <form class="mb-1" action="" method="GET">
                          <button type="submit" class="btn btn-outline-warning">Chi tiết</button>
                        </form>
                        <form style="display: inline;" action="" method="POST">
                          <button type="submit" class="btn btn-outline-danger">Huỷ</button>
                        </form>
                      </td>
                    </tr>
                  <% }) %> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/sidebarmenu.js"></script>
  <script src="/js/app.min.js"></script>
  <script src="/libs/simplebar/dist/simplebar.js"></script>
  <script src="/js/handleAdminBooking.js"></script>
  <!-- <script>
    // Thêm sự kiện lắng nghe cho dropdown lọc
$('#statusFilter').change(function() {
    var selectedStatus = $(this).val();
    filterBookings(selectedStatus);
});

// Hàm gửi yêu cầu AJAX để lọc đơn đặt theo trạng thái đã chọn
function filterBookings(status) {
    $.ajax({
        url: '/admin/booking/getBookingList',
        type: 'GET',
        data: { status: status },
        dataType: 'json',
        success: function(response) {
            updateBookingTable(response.bookingList);
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
}

// Hàm cập nhật lại bảng đơn đặt với danh sách đơn đặt mới đã lọc
function updateBookingTable(bookings) {
    $('#bookingTableBody').empty();
    bookings.forEach(function(booking, index) {
        var row = '<tr id="booking-' + booking.id + '">' +
                      '<td>' + booking.User.fullname + '</td>' +
                      '<td>' + booking.total_price + '</td>' +
                      '<td>' + booking.checkIn + '</td>' +
                      '<td>' + booking.checkOut + '</td>' +
                      '<td>' + booking.createdAt + '</td>' +
                      '<td class="booking-status">' + booking.status + '</td>' +
                      '<td class="actions">';
        
        if (booking.status === bookingStatus.WAIT) {
            row += '<button type="button" class="btn btn-outline-warning postConfirmBooking mb-1" data-booking-id="' + booking.id + '">Xác nhận</button>';
        } else if (booking.status === bookingStatus.CONFIRM) {
            row += '<button type="button" class="btn btn-outline-warning postCheckinBooking mb-1" data-booking-id="' + booking.id + '">Checkin</button>';
        } else if (booking.status === bookingStatus.CHECKIN) {
            row += '<button type="button" class="btn btn-outline-warning postCheckoutBooking mb-1" data-booking-id="' + booking.id + '">Checkout</button>';
        }
        
        row += '<form class="mb-1" action="" method="GET">' +
                    '<button type="submit" class="btn btn-outline-warning">Chi tiết</button>' +
                '</form>' +
                '<form style="display: inline;" action="" method="POST">' +
                    '<button type="submit" class="btn btn-outline-danger">Huỷ</button>' +
                '</form>' +
               '</td>' +
               '</tr>';
        
        $('#bookingTableBody').append(row);
    });
}

  </script> -->
  <script>
    
  </script>
</body>

</html>
