<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sona | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/tabler-icons/tabler-icons.css">

</head>

<body>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="/">
                                <image src="/image/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class=""><a href="/">Trang chủ</a></li>
                                    <li class=""><a href="/roomBooking">Đặt phòng</a></li>
                                    
                                    <% if (user) { %>
                                        <li class="active"><a href="/bookingDetail">Đơn đặt</a></li>
                                        <!-- Nếu đã đăng nhập, hiển thị nav tài khoản với user.id -->
                                        <li><a href="/userDetail/<%= user.id %>">Tài khoản</a></li>
                                        <% } else { %>
                                            <!-- Nếu chưa đăng nhập, chỉ hiển thị nav tài khoản -->
                                            <li><a href="/userDetail/">Tài khoản</a></li>
                                            <% } %>
                                                <li>
                                                </li>
                                </ul>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div>
    </div>
    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="pb-3"><h3>Danh sách đơn đặt</h3></div>
                <div class=" table-responsive">
                    <table class="table table-hover ">
                      <thead>
                        <tr class="">
                          <th scope="col">Người đặt</th>
                          <th scope="col">Tổng tiền</th>
                          <th scope="col">Checkin</th>
                          <th scope="col">CheckOut</th>
                          <th scope="col">Ngày tạo</th>
                          <th scope="col">Trạng thái</th>
                          <th scope="col">Hành động</th>
    
                        </tr>
                      </thead>
                      <tbody> 
    
                        <% bookingList.forEach(function(item, index){ %>
                          <tr>
                            <td class="d-none"><%= item.id %></td>

                            <td><%= item.User.fullname %></td>
                            <td><%= item.total_price %></td>
                            <td><%= item.checkIn %> </td>
                            <td><%= item.checkOut %> </td>
                            <td><%= item.createdAt %> </td>
                            <td class=""><%= item.status %> </td>
                            <td>
                                <!-- <form class="mb-1 detail-form" action="/bookingDetail/<%= item.User.id%>/<%= item.id%>" method="GET">
                                </form> -->
                                <div class="d-inline-block">
                                    <button type="button" class="mb-1 btn btn-outline-primary detail-button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-booking-id="<%= item.id %>">
                                        CHI TIẾT
                                    </button>
                                </div>
                                
                                
                              <form  class="mb-1"  action=""  method="GET">
                            </form>
                            <div class="d-inline-block">
                                <button type="button"  class="btn btn-outline-warning openOrderServiceModal" data-bs-toggle="modal"
                                 data-booking-id="<%= item.id %>" data-bs-target="#order-service-modal">
                                    ĐẶT DỊCH VỤ
                                </button>
                            </div>
                          
                              <form style="display: inline;" action="/admin/service/delete-service/<%= item.id%>"  method="POST">
                                <button type="submit" class="btn btn-outline-danger">HUỶ</button>
                                <!-- <input type="text" hidden value="<%= item.id%>" name="id" /> -->
                              </form>
                            </td>
                          </tr>
                        <% }) %>
                        
                      </tbody>
                      
                    </table>
                  </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pb-3"><h3>Danh sách phòng đặt</h3></div>
                    <div class="row">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Breadcrumb Section End -->

    <!-- Room Details Section Begin -->
    <section class="room-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <table class="table align-middle table-bordered room_list">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Loại phòng</th>
                                <th scope="col">Số người tối đa</th>
                                <th scope="col">Giá phòng</th>
                                <th scope="col">Số lượng phòng</th>
                            </tr>
                        </thead>
                       

                    </table>
                </div>

                <div class="col-lg-3">
                    <div>
                        <h4>Thông tin đặt phòng</h4>
                        <div>
                            Checkin:
                            <span class="check-in-value dateInput" ></span>
                        </div>
                        <div>
                            Checkout:
                            <span class="check-out-value"></span>
                        </div>

                        </span>
                        <table class="table align-middle mt-2 table-bordered room_list">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Loại phòng</th>
                                    <th scope="col">Số lượng</th>
                                </tr>
                            </thead>
                            <tbody class="room_select_item_list">
                                <!-- render list booked room -->
                            </tbody>
                        </table>
                        <div name ="total_price">
                            Tổng tiền: <span class="total-price"></span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="submit-button btn btn-outline-secondary ">Đặt phòng</button>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Room Details Section End -->
    <section class="">
        <div class="container">
            <div class="row">


            </div>
    </section>
    <!-- Modal đặt dịch vụ -->

    <!-- Modal detail -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin đặt phòng</h5>
                <button type="button" id="closeModalButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
                </div>
                <div class="modal-body">
                <section class="room-details-section spad">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table align-middle table-bordered room_list">
                                    <thead class="table-dark">
                                        <tr>
                                            <th scope="col">Loại phòng</th>
                                            <th scope="col">Số người tối đa</th>
                                            <th scope="col">Giá phòng</th>
                                            <th scope="col">Số lượng phòng</th>
                                        </tr>
                                    </thead>
                                        <tbody id= "detail_room_list">
                                        <!-- Render booking detail -->
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                </div>
            </div>
            </div>
        </div>
        <div class="modal fade" id="order-service-modal" tabindex="-1" aria-labelledby="order-service-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="order-service-modal-label">Đặt dịch vụ</h5>
                        <button type="button" id="closeServiceModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-x"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <div>
                                        <div>
                                            <label for="service-dropdown" class="form-label">Chọn dịch vụ:</label>
                                        </div>
                                        <div class="form-select">
                                            <select class="nice-select form-select" id="service-dropdown">
                                                <option selected focus disabled>Chọn dịch vụ</option>
                                                <!-- Thêm các tùy chọn dịch vụ vào đây -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="quantity" class="form-label">Số lượng:</label>
                                    <input type="number" class="form-control" id="quantity" value="1" min="1">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary " id="add-service-btn">Thêm dịch vụ</button>
                        </div>
                        <div class="mt-3">
                            <h6 class="mb-2">Danh sách dịch vụ đã chọn:</h6>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Tên dịch vụ</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody id="selected-services-list">
                                    <!-- Danh sách dịch vụ đã chọn sẽ được hiển thị ở đây -->
                                </tbody>
                            </table>
                        </div>
                        <span>Tổng tiền: <div class="d-inline-block" id="total-amount"></div> </span>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="confirm-order-btn">Xác nhận đặt dịch vụ</button>
                    </div>
                </div>
            </div>
        </div>
        
       
        
    <!-- Footer Section Begin -->
    <%- include('./_partialView/footer.ejs') %>

        <!-- Footer Section End -->

        <!-- Js Plugins -->
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/jquery.nice-select.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/jquery.slicknav.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/serviceBooking.js"></script>

</body>

</html>