<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chi tiết đơn đặt</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/tabler-icons/tabler-icons.css">

</head>
<style>.status-wait {
    color: gray;
  }

  .status-confirm {
    color: blue;
  }

  .status-checkin {
    color: green;
  }

  .status-checkout {
    color: orange;
  }

  .status-cancel {
    color: red;
  }
</style>
<body>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="/">
                                <image src="/image/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class=""><a href="/">Trang chủ</a></li>
                                    <li class=""><a href="/roomBooking">Đặt phòng</a></li>
                                    
                                    <% if (user) { %>
                                        <li class="active"><a href="/bookingDetail">Đơn đặt</a></li>
                                        <!-- Nếu đã đăng nhập, hiển thị nav tài khoản với user.id -->
                                        <li><a href="/userDetail/<%= user.id %>">Tài khoản</a></li>
                                        <% } else { %>
                                            <!-- Nếu chưa đăng nhập, chỉ hiển thị nav tài khoản -->
                                            <li><a href="/userDetail/">Tài khoản</a></li>
                                            <% } %>
                                                <li>
                                                </li>
                                </ul>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div>
    </div>
    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section" style="padding-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="pb-3"><h3>Danh sách đơn đặt</h3></div>
                <div class=" table-responsive">
                    <table class="table table-hover ">
                      <thead>
                        <tr class="">
                          <th scope="col">Người đặt</th>
                          <!-- <th scope="col">Tổng tiền</th> -->
                          <th scope="col">Checkin</th>
                          <th scope="col">CheckOut</th>
                          <th scope="col">Ngày tạo</th>
                          <th scope="col">Trạng thái</th>
                          <th scope="col">Hành động</th>
    
                        </tr>
                      </thead>
                      <tbody> 
    
                        <% bookingList.forEach(function(item, index){ %>
                          <tr>
                            <td class="d-none"><%= item.id %></td>

                            <td><%= item.User.fullname %></td>
                            <!-- <td><%= item.total_price %></td> -->
                            <td><%= item.checkIn %> </td>
                            <td><%= item.checkOut %> </td>
                            <td><%= item.createdAt %> </td>
                            <td class="booking-status 
                            <% if (item.status === bookingStatus.WAIT) { %> status-wait 
                            <% } else if (item.status === bookingStatus.CONFIRM) { %> status-confirm 
                            <% } else if (item.status === bookingStatus.CHECKIN) { %> status-checkin 
                            <% } else if (item.status === bookingStatus.CHECKOUT) { %> status-checkout 
                            <% } else if (item.status === bookingStatus.CANCEL) { %> status-cancel <% } %>">
                            <%= item.status %>
                          </td>
                            <td>
                                <!-- <form class="mb-1 detail-form" action="/bookingDetail/<%= item.User.id%>/<%= item.id%>" method="GET">
                                </form> -->
                                <div class="d-inline-block">
                                    <button type="button" class="mb-1 btn btn-outline-primary detail-button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-booking-id="<%= item.id %>">
                                        CHI TIẾT
                                    </button>
                                </div>
                                
                                
                              <form  class="mb-1"  action=""  method="GET">
                            </form>

                               <% if (item.status === bookingStatus.CHECKOUT || item.status === bookingStatus.CANCEL ) { %>
                                    <!-- Không hiển thị nút đặt dịch vụ -->
                                    <button type="button" class="btn d-none btn-outline-warning openOrderServiceModal" data-bs-toggle="modal" data-booking-id="<%= item.id %>" data-bs-target="#order-service-modal">
                                        ĐẶT DỊCH VỤ
                                    </button>
                                    <button type="submit" class=" d-none btn btn-outline-danger">HUỶ</button>
                                <% } else { %>
                                    <!-- Hiển thị nút đặt dịch vụ -->
                                    <button type="button" class="btn btn-outline-warning openOrderServiceModal" data-bs-toggle="modal" data-booking-id="<%= item.id %>" data-bs-target="#order-service-modal">
                                        ĐẶT DỊCH VỤ
                                    </button>
                                    <button type="button" class=" postCancelBooking btn btn-outline-danger" data-booking-id="<%= item.id %>">HUỶ</button>
                                <% } %>
                          
                 
                            </td>
                          </tr>
                        <% }) %>
                        
                      </tbody>
                      
                    </table>
                  </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   
                </div>
            </div>
        </div>
    </div>
    
    <!-- Breadcrumb Section End -->

    <!-- Room Details Section Begin -->
    <section class="room-details-section spad">
        <div class="container">
            <div class="row">
                

        </div>
    </section>
    <!-- Room Details Section End -->
    <section class="">
        <div class="container">
            <div class="row">


            </div>
    </section>
    <!-- Modal đặt dịch vụ -->

    <!-- Modal detail -->
    <%- include('./_partialView/bookingDetailModal.ejs') %>
       
        
       
        
    <!-- Footer Section Begin -->
    <%- include('./_partialView/footer.ejs') %>

        <!-- Footer Section End -->

        <!-- Js Plugins -->
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/jquery.nice-select.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/jquery.slicknav.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/serviceBooking.js"></script>

        
</body>

</html>