
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sona | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="/">
                                <image src="/image/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class=""><a href="/">Trang chủ</a></li>
                                    <li class="active"><a href="/roomBooking">Đặt phòng</a></li>
                                    <li><a href="./">Dịch vụ</a></li>
                                    
                                    <% if (user) { %>
                                        <!-- Nếu đã đăng nhập, hiển thị nav tài khoản với user.id -->
                                        <li><a href="/userDetail/<%= user.id %>">Tài khoản</a></li>
                                    <% } else { %>
                                        <!-- Nếu chưa đăng nhập, chỉ hiển thị nav tài khoản -->
                                        <li><a href="/userDetail/">Tài khoản</a></li>
                                    <% } %>
                                    <li >
                                    </li>
                                </ul>
                                
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
<div>
</div>
    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="room-booking  p-0">
                        <h3>Đặt phòng</h3>
                        <form action="get">
                            <div class="check-date d-inline-block">
                                <label for="date-in">Check In:</label>
                                <input type="date" value="" name="checkin" placeholder="Check In" class="dateInput">
                                <!-- <i class="icon_calendar"></i> -->
                            </div>
                            <div class="check-date d-inline-block">
                                <label for="date-out ">Check Out:</label>
                                <input type="date" value=""  name="checkout" class="dateOutput">
                                <!-- <i class="icon_calendar"></i> -->
                            </div>
                            <div class="select-option d-inline-block" >
                                <label for="guest">Số người:</label>
                                <select id="guest" name="numberOfPeople">
                                    <option value="2">2 người</option>
                                    <option value="3">3 người</option>
                                    <option value="4">4 người</option>
                                    <option value="5">5 người</option>
                                </select>
                            </div>
                            <div class="select-option d-inline-block">
                                <label for="room">Số phòng:</label>
                                <select id="room" >
                                    <option value="">1 phòng</option>
                                    <option value="">2 phòng</option>
                                    <option value="">3 phòng</option>
                                    <option value="">4 phòng</option>
                                </select>
                            </div>
                            <div class="d-inline-block">   
            
                                <button type="submit">Thêm phòng</button>
                            </div>
                        </form>
                    </div>
                </div>
                
        </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->
    
    <!-- Room Details Section Begin -->
    <section class="room-details-section spad">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-9">
                <table class="table align-middle table-bordered">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">Loại phòng</th>
                        <th scope="col">Số người tối đa</th>
                        <th scope="col">Giá phòng</th>
                        <th scope="col">Số lượng phòng</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% categoryList.forEach(function(item, index){ %>
                      <tr class="">
                        <th scope="row">
                            <div>
                                <h5><%= item.name %></h5>
                            </div>
                            <img src="/image/uploadFile/<%= item.image %>" alt="" width="150" height="100">
                        </th>
                        <td><%= item.numberOfPeople %></td>
                        <td><%= item.price %> VNĐ/ Đêm</td>
                        <!-- <td ><input style="width: 50px; align-items: center;" type="number"></td> -->
                        <td>
                            <input style="width: 50px" type="number" id="myInput" value="1">
                            </td>
                      </tr>
                     
                    </tbody>
                    <% }) %>

                  </table>
               </div>
               
               <div class="col-lg-3">
                <div>
                    <h5>Thông tin đặt phòng</h5>
                    <div>
                        thông tin phòng....
                    </div>
                    <div>
                        Tổng giá
                </div>
                </div>
                <button type="submit">Đặt phòng</button>

               
            </div>
            </div>
          
        </div>
    </section>
    <!-- Room Details Section End -->
    <section class="">
        <div class="container">
            <div class="row"> 
          
          
        </div>
    </section>
    <!-- Footer Section Begin -->
    <%- include('./_partialView/footer.ejs') %>

    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    
    <script>
        // Lấy tất cả các phần tử có class là "dateInput"
        var dateInputs = document.getElementsByClassName("dateInput");
    
        // Lấy tất cả các phần tử có class là "dateOutput"
        var dateOutputs = document.getElementsByClassName("dateOutput");
    
        // Lấy ngày hiện tại
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // Tháng bắt đầu từ 0
        var yyyy = today.getFullYear();
        var todayString = yyyy + '-' + mm + '-' + dd;
    
        // Thiết lập giá trị tối thiểu cho các input
        for (var i = 0; i < dateInputs.length; i++) {
            dateInputs[i].setAttribute("min", todayString);
        }
    
        // Kiểm tra khi có sự thay đổi trong input
        for (var i = 0; i < dateInputs.length; i++) {
            dateInputs[i].addEventListener("change", function() {
                var selectedDate = new Date(this.value); // Ngày được chọn trong dateInput
                var dd = String(selectedDate.getDate()).padStart(2, '0');
                var mm = String(selectedDate.getMonth() + 1).padStart(2, '0'); // Tháng bắt đầu từ 0
                var yyyy = selectedDate.getFullYear();
                var selectedDateString = yyyy + '-' + mm + '-' + dd;
    
                // Hiển thị ngày đã chọn trong phần tử dateOutput
                for (var j = 0; j < dateOutputs.length; j++) {
                    dateOutputs[j].innerText = "Ngày đã chọn: " + selectedDateString;
                    dateOutputs[j].setAttribute("min", selectedDateString); // Giới hạn dateOutput từ ngày được chọn
                }
            });
        }
        function incrementValue() {
            var input = document.getElementById("myInput");
            input.value = parseInt(input.value) + 1;
            }

            function decrementValue() {
            var input = document.getElementById("myInput");
            if (input.value > 0) {
            input.value = parseInt(input.value) - 1;
            }
            }
    </script>
    
</body>

</html>